node_modules/
android/.gradle/
android/build/
android/app/build/
android/local.properties
android/.idea/
android/*.iml
android/app/*.iml
android/app/release/
android/app/debug/
android/capacitor-cordova-android-plugins/build/
*.keystore
*.jks
build-*.log
dist/
