Options -Indexes

<IfModule mod_headers.c>
  Header set X-Content-Type-Options "nosniff"
  Header set Referrer-Policy "strict-origin-when-cross-origin"
</IfModule>

SetEnv UPLOAD_ADMIN_USERNAME admin
SetEnv UPLOAD_ADMIN_PASSWORD admin
SetEnv UPLOAD_PUBLIC_BASE_URL https://tyfys.net/cadetcatch
